.about__titles {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  margin-top: 20px;
}

.about__titles span {
  color: #27ae60;
  font-size: 27px;
  font-weight: bolder;
}

.about__titles h2 {
  color: #192a56;
  font-size: 32px;
  margin-bottom: 30px;
}

.about__container h3 {
  font-size: 35px;
  color: #192a56;
}
.about__container {
  color: #666;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  line-height: 2;
}

.about__details {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  color: #192a56;
}

.about__options {
  border: 1px solid #192a56;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
}

.about__icons {
  color: #27ae60;
}

.about__options .about__icons {
  font-size: 27px;
}

/*-----------------Styles for small screens ----------------------------------*/
@media only screen and (max-width: 767px) {
  .about__titles span {
    font-size: 20px;
  }

  .about__titles h2 {
    font-size: 25px;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }

  .about__container img {
    width: 80%;
    height: 65%;
  }

  .about__container h3 {
    text-align: center;
    font-size: 25px;
  }

  .about__container {
    font-size: 17px;
  }

  .about__details {
    margin-bottom: 25px;
  }

}

/*----------------Styles for medium screens ---------------------------------*/
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .about__titles span {
    font-size: 27px;
  }

  .about__titles h2 {
    font-size: 30px;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 20px;
  }

  .about__container img {
    width: 80%;
    height: 65%;
  }

  .about__container h3 {
    text-align: center;
  }

  .about__details {
    margin-bottom: 25px;
    font-size: 17px;
  }

  .about__options span {
    font-size: 17px;
  }
}

/*-----------------Styles for large screens ----------------------------------*/
@media only screen and (min-width: 1024px) {
  .about__container {
    font-size:20px;
  }


  .about__options span {
    font-size: 21px;
  }
}
