.about__titles {
display: flex;
align-items: center;
justify-content: right;
flex-direction: column;
}

.about__titles span {
color: #27ae60;
font-size: 20px;
font-weight: bolder;
}

.about__titles h2 {
  color:#192a56;
}