.cart__container {
  margin-top: 30px;
}



.cart__name {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: #192a56;
  font-size: 18px;
}

.cart__buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: #27ae60;
}

/* .cart_buttons {

} */
