.menu__description {
  display: flex;
  flex-direction: row;
}

h3 {
  color: #192a56;
}

.carousel__img {
  width: 50%;
  height: 50%;
  /* aspect-ratio: auto; */
  display: flex;
  flex-direction: row;
  border-radius: 40%;
}

.carousel__name {
  display: flex;
  flex-direction: row;
  font-size: 40px;
}
