.home__description {
  /*padding: 10px;*/
  margin-top: 15px;
  /*display: flex;*/
}

.carousel__img {
  width: 45%;
  height: 30%;
  aspect-ratio: auto;
  display: flex;
  justify-content: space-between;
}
.carousel__img img {
  border-radius: 5%;
}

.carousel__name {
  font-size: 40px;
  display: flex;
  color: #27ae60;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

.home__schedule {
  display: flex;
  flex-flow: column;
  color: #192a56;
  font-size: 25px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.home__program {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #27ae60;
  margin-bottom: 25px;
}

/*-----------------Styles for small screens ----------------------------------*/
@media only screen and (max-width: 767px) {
  .carousel__img {
    display: flex;
    flex-direction: column;

  }
  .carousel__name {
    font-size: 25px;
    gap: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .home__schedule {
    margin-top: 35px;
  }
}

/*----------------Styles for medium screens ---------------------------------*/
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .carousel__name {
    font-size: 32px;
    margin: 0 5px;
  }

  .home__schedule {
    font-size: 30px;
  }

  .home__program {
    font-size: 25px;
  }
}

/*-----------------Styles for large screens ----------------------------------*/
@media only screen and (min-width: 1024px) {
}
