.nav__container {
  display: flex;
  padding:10px;
  justify-content: space-between;
  background-color: #eee;
}
.nav__container .logo {
  font-size: 27px;
  text-transform: capitalize;
  font-weight: 600;
  color: #27ae60;
  margin: 0 15px;
  padding: 6px;
}

.logo a {
  color: #192a56;
  padding: 6px;
}

.navbar__links ul {
  display: flex;
  flex-direction: row;
}
.navbar__links ul li {
  list-style-type: none;
  margin: 0 15px;
  padding: 6px;
  font-size: 20px;
  text-transform: capitalize;
  color: #666;
  cursor: pointer;
}

.navbar__links ul li:hover {
  background-color: #27ae60;
  border-radius: 4px;
}

.navbar__links ul li.active {
  background-color: #27ae60;
  border-radius: 4px;
}

li a {
  color: #666;
}


.navbar__cart {
  font-size: 25px;
  color:#192a56;
}