.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}
.nav__container .logo {
  font-size: 27px;
  text-transform: capitalize;
  font-weight: 600;
  color:#27ae60
}


.logo a {
  color: #192a56;
}

.navbar__links ul {
  display: flex;
  flex-direction: row;
}
.navbar__links ul li {
  list-style-type: none;
  margin: 0 15px;
  font-size: 20px;
  text-transform: capitalize;
  color: #666;
}

.navbar__links ul li:hover {
  background-color: #27ae60;
  border-radius: 4px;
  padding: 5px;
}

li a {
  color: #666;
}
