/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
} */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.nav-container .logo {
  font-size: 38px;
  text-transform: capitalize;
}
.navbar-links ul {
  display: flex;
  flex-direction: row;
}
.navbar-links ul li {
  list-style-type: none;
  margin: 0 15px;
  font-size: 18px;
  text-transform: capitalize;
}
