.nav__container {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
   padding: 15px;
}
.nav__container .logo {
  font-size: 27px;
  text-transform: capitalize;
  font-weight: 600;
  color: #27ae60;
}

.logo a {
  color: #192a56;
  text-decoration: none;

}

.navbar__links ul {
  display: flex;
  flex-direction: row;
}
.navbar__links ul li {
  list-style-type: none;
  margin: 0 15px;
  font-size: 20px;
  text-transform: capitalize;
  color: #666;
  cursor: pointer;
  background-color: #eee;
}

.nav__container  .navbar__links {
  background-color: #eee;
}

.navbar__links ul li:hover {
  background-color: #27ae60;
  border-radius: 4px;
}

.navbar__links ul li.active {
  background-color: #27ae60;
  border-radius: 4px;
}

li a {
  color: #666;
}

.navbar__cart {
  font-size: 25px;
  color: #192a56;
}

/*---------------------  Styles for small screens ----------------------------------*/
@media only screen and (max-width: 768px) {
  .navbar__links{
    display: none;
  }

}

/*---------------------  Styles for medium screens ----------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar__links{
    display: block;
  }
}

/*---------------------  Styles for large screens ----------------------------------*/
@media only screen and (min-width: 1024px) {
  .navbar__links{
    display: block;
  }
}