.review__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
  /* margin-top: 10px; */
  margin-left: 10px;
  width: 40%;
  border: 2px solid #666;
}

.review__name {
  display: flex;
  flex-direction: row;
  color: #192a56;
  font-size: 18px;
  font-weight: bolder;
}

.review__user {
  display: flex;
  flex-direction: column;
  aspect-ratio: auto;
  color: #192a56;
  font-size: 20px;
  font-weight: bolder;
}

.review__user img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.review__message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #192a56;
  font-size: 17px;
  margin-left: 25px;
}
