.review__page {
  color: #192a56;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

.review__intro {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #27ae60;
  font-size: 30px;
}

.review__description {
  font-size: 25px;
  color: #27ae60;
  padding: 20px;
}

.review__container {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #192a56;
  border-radius: 15px;
}

.review__user {
  color: #192a56;
  font-size: 20px;
}

.review__message {
  color: #666;
  font-size: 25px;
  margin-bottom: 20px;
}

.review__contact {
  margin-top: 30px;
  font-size: 27px;
  row-gap: 40px;
  color: #27ae60;
  margin-bottom: 30px;
}

.review__contact ul {
  margin-top: 30px;
}

.review__contact ul li {
  font-size: 20px;
  text-align: center;
  color: #192a56;
}

/*-----------------Styles for small screens ----------------------------------*/
@media only screen and (max-width: 768px) {
  .review__page {
    font-size: 27px;
  }

  .review__intro {
    font-size: 25px;
  }

  .review__message {
    font-size: 17px;
  }

  .review__contact {
    font-size: 25px;

  }
}

/*----------------Styles for medium screens ---------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .review__message {
    font-size: 23px;
  }

  
}

/*-----------------Styles for large screens ----------------------------------*/
@media only screen and (min-width: 1024px) {
  .review__contact {
    font-size: 35px;
  }
}
